

h1 {
    font-family: 'Lilita One', sans-serif;
    color: #F2A4A2;
    font-size: 145px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0%;
}

h2 {
    font-family: 'Lilita One', sans-serif;
    font-size: 53px;
    color:#5F0101;
    margin: 0px;
}

h3{
    font-family: 'McLaren', sans-serif;
    font-size: 25px;
    color:#FFF;
    margin: 0px;
}

p {
    font-family: 'McLaren', sans-serif;
    font-size: 16px;
    color:#5F0101;

}



header {
    display: flex;
    padding-top: 20px;
    position: sticky;
    top: 0%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.); 
    background-size: cover;
    padding: 10px;

    

}

.logo img {
    width: 70px;
    height: auto;
    margin-top: 15px;

   
   
}

.header-nav{
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 50px;
    color: #FFC7C7;
    
    

}

.header-nav:hover{
    background-color: #5F0101;
}

nav ul{
    margin-left: -35px;
}

nav li {
    display: inline-block;
   
}



a {
   
    text-decoration: none;
    color: #FFC7C7;
    font-family: 'McLaren', sans-serif;
    font-size: 16px;
    align-items: center;
    padding-inline: 30px;
    
    
}



.icons {
    
    margin-top: 15px;
    margin-left: 15px;
}

.icons-img >img{
    width: 40px;
    height: auto;
    margin-left: 15px;

}

.cta {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.); 
    color: #5F0101;
    border: 2px solid #5F0101; 
    border-radius: 50px;
    padding: 6px 60px;
    width: 250px;
    height: 40px;
    margin-left: 5px;
    
  }

.cta:hover{
    background: #F2A4A2
}

  
  
 
  





@media (max-width: 950px) { 
    
    h1{
        font-size: 60px;
    
    }
    
    h2{
        font-size: 40px;
    }    

    h3{
        font-size: 20px;
    }    
       
   

      .header-nav{
        display: none;
        
        
        
    
    }

    .cta {
        
        border-radius: 50px;
        padding: 6px 10px;
      
        margin-bottom: 20px;
        
      }
    }
         
    @media (min-width: 1201px) { 
        }