.exhibitions-banner {
    display: flex;
    background-image: url('img/ex-banner.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    align-items: center;
    height: 680px; 
    color: white;
    position: absolute;
    top: 0px; 
    width: 100%;
}

.exhibitions-banner-text {
    
    margin: 400px 0px 0px 50px;
    
    
}

.special {
    position: relative;
    background-color: #5F0101;
    top: 560px;
    min-height: 600px;
}

.special-text >h2, p {
    color: #FFF;
    padding: 10px;
    margin-left: 40px;
    max-width: 1000px;
    

}


.exhi-banner{
    display: flex;
    position: relative;
    top: 560px;
    height: 100vh;
    

}

.exhibition-grid{
   display: grid;
   grid-template-columns: 50% 50%;
  
}
  
 


.grid-item-1{
   
    background-color: #FFC7C7;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    
}

.grid-item-2{
   
    background-color: #82201A;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    
}

.grid-item-3{
   
    background-color: #82201A;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    
}

.grid-item-4{
   
    background-color: #FFC7C7;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    
}
.grid-item-5{
   
    background-color: #FFC7C7;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    
}

.grid-item-6{
   
    background-color: #82201A;
   
    display: flex;
    flex-direction: column;
    
    padding: 20px;

    
}

.grid-item-1-image h2  {
    padding:  20px;
    color: #FFC7C7;
}

.grid-item-1-image h3  {
    margin-left: 30px;
    
}

.grid-item-1 p{
   
    color: #5F0101;
    text-align: center;
    margin: 0%;
    
    
}


.grid-item-1-image{
    background-image: url('img/exhi1.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 380px;
    min-width: 500px;  
    
}






.grid-item-2-image{
    background-image: url('img/heart.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 380px;
    min-width: 500px;
    
}

.grid-item-2-image h2  {
    padding:  20px;
    color: #FFC7C7;
}

.grid-item-2-image h3  {
    margin-left: 30px;
    
}

.grid-item-2 p{
   
    color: #FFF;
    text-align: center;
    margin: 0%;
    
}



.grid-item-3-image{
    background-image: url('img/solar.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 380px;
    min-width: 500px;
    
}

.grid-item-3-image h2  {
    padding:  20px;
    color: #FFC7C7;
}

.grid-item-3-image h3  {
    margin-left: 30px;
    
}

.grid-item-3 p{
   
    color: #FFF;
    text-align: center;
    margin: 0%;
    
}




.grid-item-4-image{
    background-image: url('img/ele.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 380px;
    min-width: 500px;
    
}

.grid-item-4-image h2  {
    padding:  20px;
    color: #FFC7C7;
}

.grid-item-4-image h3  {
    margin-left: 30px;
    
}

.grid-item-4 p{
   
    color: #5F0101;
    text-align: center;
    margin: 0%;
    
}




.grid-item-5-image{
    background-image: url('img/eco.png'); 
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 380px;
    min-width: 500px;
    
}

.grid-item-5-image h2  {
    padding:  20px;
    color: #FFC7C7;
}

.grid-item-5-image h3  {
    margin-left: 30px;
    
}

.grid-item-5 p{
   
    color: #5F0101;
    text-align: center;
    margin: 0%;
    
}


.grid-item-6  h3{
margin-left: 10px;
    
   
    
}

.grid-item-6  h2{
color: #FFC7C7;
font-size: 40px;
padding: 10px;
text-align: left;
    
   
    
}



@media (max-width: 1073px)  { 

    .exhibitions-banner {
        
        height: 350px; 
       
    }


    .exhibitions-banner-text {
    
        margin: 100px 0px 0px 30px;
        
        
    }

    .special {
      
        top: 230px;
    }

    .special-text >h2, p {
       
        padding: 5px;
        margin-left: 30px;
       
        
    
    }

    .exhi-banner{
       
        top: 210px;
        
    
    }


    .exhibition-grid{
        
        grid-template-columns: 1fr;
     }



     .grid-item-1-image{
      
       
        min-height: 240px;
        min-width: 300px   
        
    }
    
    .grid-item-2-image{
       
       
        min-height: 240px;
        min-width: 300px   
        
    }

    .grid-item-3-image{
       
       
        min-height: 240px;
        min-width: 300px   
        
    }

    .grid-item-4-image{
       
       
        min-height: 240px;
        min-width: 300px   
        
    }

    .grid-item-5-image{
       
       
        min-height: 240px;
        min-width: 300px   
        
    }
  
    .grid-item-3{
        background-color: #FFC7C7;
       
        
    }  
    .grid-item-3 p{
   
        color: #5F0101;
      
        
    }
    .grid-item-4{
        background-color: #82201A;
            
    }
    .grid-item-4 p{
   
        color: #FFF;
      
        
    }


    .grid-item-6 h2{
        text-align: center;
            
           
            
        }
}

