.exhibitions-banner {
    display: flex;
    background-image: url('img/ex-banner.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    align-items: center;
    height: 680px; 
    color: white;
    position: absolute;
    top: 0px; 
    width: 100%;
}

.exhibitions-banner-text {
    
    margin: 400px 0px 0px 50px;
    
    
}

.special {
    position: relative;
    background-color: #5F0101;
    top: 560px;
    height: 600px;
}

.special-text >h2, p {
    color: #FFF;
    padding: 10px;
    margin-left: 40px;
    max-width: 1000px;
    

}


.exhi-banner{
    display: flex;
    position: relative;
    top: 560px;
    

}

.exhibition-grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
  
 


.grid-item-1{
   
    background-color: #FFC7C7;
    position: relative;
    
   
  
    aspect-ratio: 1;

   
    
}

.grid-item-2{
    display: flex;
    position: relative;
    background-color: #82201A;
   
   
  
    aspect-ratio: 1;

   
    
}

.grid-item-3{
    display: flex;
    position: relative;
    background-color: #82201A;

 
  
    aspect-ratio: 1;

   
    
}



@media (max-width: 950px) { 
    .exhibitions-banner {
        
        height: 350px; 
       
    }


    .exhibitions-banner-text {
    
        margin: 200px 0px 0px 50px;
        
        
    }

    .special {
      
        top: 260px;
    }

    .exhi-banner{
       
        top: 260px;
        
    
    }


    .exhibition-grid{
        
        grid-template-columns: 1fr;
     }
       
}
