.explore-banner{
    display: flex;
    background-image: url('img/explorebanner.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    align-items: center;
    height: 680px; 
    color: white;
    position: absolute;
    top: 0px; 
    width: 100%;
}

.explore-banner-text{
    margin: 400px 0px 0px 50px;
}

.explore-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5F0101;
    position: relative;
    height: 90px;
    top: 590px;
   
    
}


.header-nav-expo{
  
    flex-direction: column;
    
    border: 2px solid #FFC7C7;
    border-radius: 50px;

    text-decoration: none;
    
   
    

    
    

}



 ul{
    margin-left: -35px;
    list-style: none;
    gap: 30px;
    
    
}

 li {

    display: flex;
    display: inline-block;
 
   

   
}



a {
   
    text-decoration: none;
    color: #FFC7C7;
    font-family: 'McLaren', sans-serif;
    font-size: 16px;
    align-items: center;
    padding-inline: 40px;
    
    
    
}

.section {
 
    position: relative;
    
}

#section1{
    background-color: #F2A4A2;
    height: fit-content;
    top: 590px;
}

.section-h2{
    display: flex;
    margin-left: 40px;
    padding-top: 20px;
}

.section-h2 >img{
    max-width: 80px;
}

.kid{
    background-color: #F2A4A2;
    
}

.kid >p{
    max-width: 1000px;
    margin-left: 40px;
    padding-bottom: 20px;

}


.arts{
    background-color: #FFC7C7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 1rem;
    
}

.kids-item {
    min-width: 300px;
    

}

.kids-item >img{
    max-width: 330px;

}

.kids-item >p{
    max-width: 300px;

}


.robot-banner{
    background-image: url(img/robotbanner.png);
    background-size: cover;
    background-position: top center;
    height: 500px;
   
    
}

#section2{
    background-color: #5F0101;
}

.teachers >h2{
    color: #FFF;
    padding: 20px;
    margin-left: 20px;

}

.teachers >h3{
    
    padding: 20px;
    margin-left: 20px;

}

.teachers >p{
    color: #FFF;
    padding: 20px;
    margin: 20px 0px 0px 20px;

}

#section3{
    background-color: #82201A
}

.researchers >h2{
    color: #FFF;
    padding: 20px;
    margin-left: 20px;

}

.researchers >h3{
    color: #FFF;
    padding: 20px;
    margin-left: 20px;

}

.researchers >p{
    color: #FFF;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

}


@media (max-width: 1073px) { 
    .explore-banner {
        
        height: 350px; 
       
    }


    .explore-banner-text {
    
        margin: 200px 0px 0px 50px;
        
        
    }

    .explore-menu{

    
     top: 250px;
     height: 200px;
     display: flex;
     
       
        
    }

    ul{
        margin-left: -35px;
        list-style: none;
        
       
        
        
    }

    li {
      
        display: list-item;
        border: 2px solid #FFC7C7;
        border-radius: 50px;
        padding: 10px;
        text-align: center;
        
        
    
       
    }

    .header-nav-expo{
    border: 0px;

}


#section1{
    top: 250px;
}



}




