
body {
    
    margin: 0%;
    overflow-x: hidden;
  }





.home-banner {
    display: flex;
    background-image: url('img/homebanner.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    align-items: center;
    height: 1100px; 
    color: white;
    position: absolute;
    top: 0px; 
    width: 100%;
}

.home-banner-text {
    margin-left: 50px;
    
    
}


.robot {
    display: flex;
    flex-direction: row;  
    margin-top: 40px;
    
   
   
}

.robot > img {
    width: auto;
    height: 80px;
  
    

}


.robot {
    width: auto;
    height: 200px;
}

.upcoming-text {
    position: relative;
    background-color: #FFC7C7;
    background-size: cover;
    height: 70px;
    top:750px
 
      
}

.upcoming-text > h2 {

   margin-left: 60px;
   
   
}

.upcoming-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC7C7;
    min-height: 500px;
    position: relative;
    top: 750px;
   
   
    
}



.upcoming-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    min-width: 600px;
    align-items: center;
    justify-content: center;
   
}


.upcoming-item{
    width: 390px;
    height: auto;
    padding: 40px;
    

}


.upcoming-item img{
    width: 390px;
    height: auto;
    margin-top: -80px;
    padding-bottom: 1rem;;
}

.upcoming-item h3{
   
    margin-left: 20px;
    position: relative;
    top:-25px
   
  

}



.oslo{
    background-color: #5F0101;
    text-align: center;
    position: relative;
    top:700px
    
   
}

.oslo-text{
    padding: 20px;
    margin-inline: 50px;
}

.oslo-text >h2 {
    color: #FFC7C7;
}

.oslo-text >p {
    color: #FFF;
}

.opening{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top:680px;
    min-height: 800px;
    
   
}

.opening1{
    background-image: url(img/human.png);
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 1 1 50%;
  
  
    aspect-ratio: 1;
 
}

.opening2{
    background-color: #82201A;
    background-position: center;
    flex: 1 1 50%;
    min-height: 350px;
    aspect-ratio: 1;
   
    
}

.opening2 >h3{
    padding: 10px;
    margin-left: 20px;

}

.opening2 h2 {
    margin-left: 20px;
    color: #FFC7C7;
}

.explore{
   
    background-color: #FFC7C7;
    position: relative;
    top: 670px;
    
}

.explore >h3{
    padding: 20px;
    margin-left: 30px;
    color: #5F0101;
}

.explore-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
   
    
}

.explore-h2{
    display: flex;
    
}

.explore-h2 img{
    max-width: 70px;
}

.explore-item{
    max-width: 430px;

}


.explore-border{
    border: 2px solid #5F0101; 
    border-radius: 50px;
    padding: 20px;
    max-height: 720px;
    min-height: 720px;
}

.cta-ex {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.); 
    color: #5F0101;
    border: 2px solid #5F0101; 
    border-radius: 50px;
    padding: 8px 60px;
    width: 250px;
    height: 40px;
    margin: 30px;
    
  }
  .cta-ex:hover{
    background: #F2A4A2
}
  

footer{
  
    background-color: #5F0101;
    position: fixed;
    bottom :0px;
    height:30px;
    width:100%;
   
   
}

@media (max-width: 1073px) { 

    .home-banner {
        
        height: 700px; 
        top:0px;
     
     
       
    }

    .upcoming-banner {
        
        top: 550px;
       
       
        
    }
    
    .upcoming-item{
        width: 290px;
        height: auto;
        padding: 40px;
    
    }
    
    .upcoming-item img{
        width: 290px;
        
    }
   
    .upcoming-text {
        
        top: 500px;
          
    }
    .upcoming-flex {
       
        max-width: 400px;
       
    }

    .explore-item{
        max-width: 330px;
       
    
    }

    .explore-border{
        max-height: 720px;
        min-height: 100px;
        
        
        
    }
    
    .cta-ex {
        
        padding: 8px 0px;
      
        
      } 

   

}