body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}



header {
    display: flex;
    padding-top: 20px;
    position: sticky;
    top: 0%;
    z-index: 100;

    

}

.logo img {
    width: 80px;
    height: auto;
    margin-top: 15px;

   
   
}

.header-nav{
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 50px;
    color: #FFC7C7;
    

}

nav ul{
    margin-left: -35px;
}

nav li {
    display: inline-block;
    
     
   
}



a {
   
    text-decoration: none;
    color: #FFC7C7;
    font-family: 'McLaren', sans-serif;
    font-size: 16px;
    align-items: center;
    padding-inline: 60px;
    
    
}

.icons {
    
    margin-top: 15px;
    margin-left: 55px;
}

.icons-img >img{
    width: 40px;
    height: auto;
    margin-left: 20px;

}