
body {
    
    margin: 0%;
    overflow-x: hidden;
  }


header {
    display: flex;
    padding-top: 20px;
    position: sticky;
    top: 0%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.); 
    background-size: cover;
    color: white;
    padding: 10px;

    

}

.logo img {
    width: 80px;
    height: auto;
    margin-top: 15px;

   
   
}

.header-nav{
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 50px;
    color: #FFC7C7;
    
    

}

nav ul{
    margin-left: -35px;
}

nav li {
    display: inline-block;
   
}



a {
   
    text-decoration: none;
    color: #FFC7C7;
    font-family: 'McLaren', sans-serif;
    font-size: 16px;
    align-items: center;
    padding-inline: 60px;
    
    
}


a:hover {
    font-size: 17px;
}

.icons {
    
    margin-top: 15px;
    margin-left: 55px;
}

.icons-img >img{
    width: 40px;
    height: auto;
    margin-left: 20px;

}



.home-banner {
    display: flex;
    background-image: url('img/homebanner.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    align-items: center;
    height: 800px; 
    color: white;
    padding: 20px;
    position: absolute;
    top: 0px; 
    width: 100%;
}

.home-banner-text {
    margin-left: 30px;
    
    
}


.robot {
    display: flex;
    flex-direction: row;  
    
   
   
}

.robot > img {
    width: auto;
    height: 80px;
  
    

}


.robot {
    width: auto;
    height: 200px;
}

.upcoming-text {
    position: relative;
    background-color: #FFC7C7;
    background-size: cover;
    height: 70px;
    top: 600px;
      
}

.upcoming-text > h2 {

   margin-left: 60px;
   
}

.upcoming-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #FFC7C7;
    min-height: 500px;
   
    
}



.upcoming-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    min-width: 600px;
    align-items: center;
    justify-content: center;
}


.upcoming-item{
    width: 390px;
    height: auto;
    padding: 20px;
    margin-top: 30px;

}


.upcoming-item >img{
    width: 390px;
    height: auto;
    margin-top: -80px;
    padding-bottom: 1rem;;
}

.upcoming-item >h3{
   
    margin-left: 20px;
   
  

}



.oslo{
    background-color: #5F0101;
    text-align: center;
    display: ;
    
   
}

.oslo-text{
    padding: 20px;
    margin-inline: 50px;
}

.oslo-text >h2 {
    color: #FFC7C7;
}

.oslo-text >p {
    color: #FFF;
}

.opening{
    display: flex;
    flex-wrap: wrap;
   
}

.opening1{
    background-image: url(img/human.png);
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 1 1 50%;
    min-height: 350px;
    aspect-ratio: 1;
}

.opening2{
    background-color: #82201A;
    background-position: center;
    flex: 1 1 50%;
    min-height: 350px;
    aspect-ratio: 1;
}

.opening2 >h3{
    padding: 10px;
    margin-left: 20px;

}

.opening2 >h2 {
    margin-left: 20px;
    color: #FFC7C7;
}

.explore{
   
    background-color: #FFC7C7;
    
}

.explore >h3{
    padding: 20px;
    margin-left: 30px;
}

.explore-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    
}

.explore-h2{
    display: flex;
    
}

.explore-h2 >img{
    max-width: 70px;
}

.explore-item{
    max-width: 430px;

}


.explore-border{
    border: 2px solid #5F0101; 
    border-radius: 50px;
    padding: 20px;
    height: 600px;
}

.cta-ex {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.); 
    color: #5F0101;
    border: 2px solid #5F0101; 
    border-radius: 50px;
    padding: 8px 60px;
    width: 250px;
    height: 40px;
    margin: 30px;
    
  }
  .cta-ex:hover{
    background: #F2A4A2
}
  

footer{
  
    background-color: #5F0101;
    position: fixed;
    bottom :0px;
    height:30px;
    width:100%;
   
   
}

@media (max-width: 1200px) { 

    .home-banner {
        
        height: 700px; 
     
       
    }
    
    .upcoming-item{
        width: 290px;
        height: auto;
        padding: 20px;
    
    }
    
    .upcoming-item >img{
        width: 290px;
        height: auto;
        margin-top: -80px;
        padding-bottom: 1rem;;
    }
   
    .upcoming-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
        max-width: 400px;
        align-items: center;
        justify-content: center;
    }
}