.join-banner{
    display: flex;
    background-image: url('img/join.banner.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    align-items: center;
    height: 680px; 
    color: white;
    position: absolute;
    top: 0px; 
    width: 100%;
}

.join-banner-text{
    margin: 400px 0px 0px 50px;
}

.involved{
   
    background-color: #FFC7C7;
    position: relative;
    top: 560px;
    
    
}

.involved >h3{
    padding: 20px;
    margin-left: 30px;
    color: #5F0101;
}

.involved-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    
}


.involved-item{
    max-width: 430px;
    padding-bottom: 20px;

}


.involved-border{
    border: 2px solid #5F0101; 
    border-radius: 50px;
    padding: 20px;
    height: 400px;
    
}

.joinus{
    position: relative;
    background-color: #82201A;
    top:550px;
    height: 800px;
    text-align: center;
   
  
}

.joinus-form{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    font-family: 'McLaren', sans-serif;
    color: #5F0101;     
   
}
   



input {
    display: flex;
   
    border: 2px solid #FFF;
    border-radius: 50px;
    background-color: #82201A;
    color: #FFF;
    padding: 10px 50px;
    font-family: 'McLaren', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 20px;
 
    
}
 
fieldset {
    border: none;
    display: flex;

  }
  
  
  fieldset div {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
  }
  
 
  fieldset input[type="radio"] {
   
    margin-right: 5px;
  }
  
 
  fieldset label {
    color: #FFF;
    font-family: 'McLaren', sans-serif;
    font-size: 16px;
    
  }


button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    font-family: 'McLaren', sans-serif;
    font-size: 16px;
    background-color: #82201A; 
    color: #FFF;
    border: 2px solid #FFF; 
    border-radius: 50px;
    padding: 20px 60px;
    width: 250px;
    height: 40px;
    margin-left: 60px;
   
}
    
    


@media (max-width: 950px) { 
    .join-banner {
        
        height: 350px; 
       
    }


    .join-banner-text {
    
        margin: 200px 0px 0px 50px;
        
        
    }

    .involved{
        top: 250px;
    }


    
}